/* aquí se ejecuta todo referente a la pestaña de historia */
.historia__imagenes {
  width: 90%;
  height: 50%;
  margin: 20px;
}
.parrafos {
  margin: 32px;
  display: flex;
  justify-content: center;
}
