/* Aqui inicia los media */

@media (max-width: 1000px) {
  .nav__label {
    display: block;
    cursor: pointer;
  }
  .nav__list {
    display: flex;
    position: fixed;
    top: 138px;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    left: 0;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
  }

  .nav__input:checked + .nav__list {
    clip-path: circle(100% at center);
  }
}

@media (max-width: 600px) {
  .grid__container {
    grid-template-areas:
      "header  "
      " container__footer "
      " container__slider "
      " container__director ";
  }
  .container__director section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    height: 830px;
  }
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  10% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }
  15% {
    margin-left: -100%;
  }

  30% {
    margin-left: -200%;
  }
  40% {
    margin-left: -200%;
  }

  45% {
    margin-left: -300%;
  }
  55% {
    margin-left: -300%;
  }

  60% {
    margin-left: -400%;
  }
  70% {
    margin-left: -400%;
  }

  75% {
    margin-left: -500%;
  }
  85% {
    margin-left: -500%;
  }

  90% {
    margin-left: -600%;
  }
  100% {
    margin-left: -600%;
  }
}
