/* footer */

.container__footer {
  display: flex;
  justify-content: center;
}

.footer__ul {
  display: flex;
  list-style: none;
  margin: 20px;
}

.footer__li {
  margin: 15px;
}

.footer__li img {
  width: 50px;
}

.footer__li :hover {
  width: 60px;
  transition: all 0.5s;
}

.copyright {
  display: flex;
  justify-content: center;
}
